$colors: (
  "black": #1B2B34,
  "darkest-gray": #343D46,
  "darker-gray": #4F5B66,
  "dark-grey": #65737E,
  "gray": #A7ADBA,
  "light-gray": #C0C5CE,
  "lightest-gray": #CDD3DE,
  "white": #D8DEE9,
  "red": #EC5f67,
  "orange": #F99157,
  "yellow": #FAC863,
  "green": #99C794,
  "light-blue": #5FB3B3,
  "blue": #6699CC,
  "magenta": #C594C5,
  "brown": #AB7967,
);

$font-family: source-code-pro, Monaco, Menlo, Consolas, 'Courier New', monospace;
$min-width: 320px;
$max-width: 1200px;
$min-font-size: 14px;
$max-font-size: 22px;
$background-color: map-get($colors, "black");
$color: map-get($colors, "lightest-gray");
